footer.footer
	container.grid.grid--footer
		logo-col
			a.footer-logo(href="#")
				img.logo(alt="SentReader logo" src="img/logos/sentreader remover.png")
			ul.social-links
				li: a.footer-link(href="#" class="footer-link")
						ion-icon.social-icon(name="logo-instagram")
				li: a.footer-link(href="#")
						ion-icon.social-icon(name="logo-facebook")
				li: a.footer-link(href="#")
						ion-icon.social-icon(name="logo-twitter")
			p.copyright
				| Copyright &copy; 
				span.year 2027
				|  by SentReader, Inc.
				|             All rights reserved.
		address-col
			p.footer-heading Contact us
			address.contacts Addis Ababa Ethiopia,
				p: a.footer-link(href="tel:415-201-6370") 415-201-6370
				p: a.footer-link(href="mailto:hello@sentreader.com") hello@sentreader.com
		nav.nav-col
			p.footer-heading Solutions
			ul.footer-nav
				li: a.footer-link(href="#") Financial Services
				li: a.footer-link(href="#") Legal and insurance
				li: a.footer-link(href="#") Researchers
				li: a.footer-link(href="#") Iducations
				li: a.footer-link(href="#") any Documentaions
		nav.nav-col
			p.footer-heading Company
			ul.footer-nav
				li: a.footer-link(href="#") About Us
				li: a.footer-link(href="#") For Business
				li: a.footer-link(href="#") customers
				li: a.footer-link(href="#") Careers
				li: a.footer-link(href="#") Newsroom
		nav.nav-col
			p.footer-heading Resources
			ul.footer-nav
				li: a.footer-link(href="#") reviewing directory
				li: a.footer-link(href="#") AI Governance
				li: a.footer-link(href="#") Documentation
				li: a.footer-link(href="#") Help center
				li: a.footer-link(href="#") Privacy & terms