extends base

block content
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
  
  main.chat-main-section
    .chat-container
      // Left Sidebar – Document Navigation
      aside.chat-sidebar.chat-sidebar-left#leftSidebar
        .sidebar-left-head
          span.sidebar-doc-title No Document
          button#sidebarFileBtn(type="button" title="Table of Contents")
            i.fas.fa-file-alt
          button#sidebarFolderBtn(type="button" title="Documents")
            i.fas.fa-folder
        .sidebar-left-body
          .sidebar-view.toc-view#tocView
          .sidebar-view.docs-view#docsView(style="display:none")
      
      // Main Chat Area
      section.main-chat-area
        .chat-area-header
          .header-left
          h2#chatTitle New Chat
          .header-right
            .panel-icon-group
              // Left panel icon: highlighted bar on the LEFT side
              button#toggleLeftSidebar.sidebar-toggle.panel-icon-btn(title="Toggle left panel")
                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  rect(x="1" y="1" width="16" height="16" rx="2.5" stroke="currentColor" stroke-width="1.5")
                  rect(x="1" y="1" width="6" height="16" rx="2.5" fill="currentColor")
              // Right panel icon: highlighted bar on the RIGHT side
              button#toggleRightSidebar.sidebar-toggle.panel-icon-btn(title="Toggle right panel")
                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  rect(x="1" y="1" width="16" height="16" rx="2.5" stroke="currentColor" stroke-width="1.5")
                  rect(x="11" y="1" width="6" height="16" rx="2.5" fill="currentColor")
              // Bottom panel icon: highlighted bar on the BOTTOM
              button#toggleBottomPanel.sidebar-toggle.panel-icon-btn(title="Toggle bottom panel")
                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  rect(x="1" y="1" width="16" height="16" rx="2.5" stroke="currentColor" stroke-width="1.5")
                  rect(x="1" y="11" width="16" height="6" rx="2.5" fill="currentColor")
            button#newChatBtn.new-chat-btn
              i.fas.fa-plus
              | New Chat
            button#settingsBtn(title="Settings")
              i.fas.fa-cog
            button#helpBtn(title="Help")
              i.fas.fa-question-circle
        
        .chat-messages-area#chatMessagesArea
          .chat-welcome-state
            .chat-welcome-icon
              i.fas.fa-comments
            h3 No Chats Available
            p Please upload a file to start a new chat. SentReader can process documents, images, and other files to help you analyze and discuss content.
          .chat-upload   
            .chat-upload-area#chatUploadArea
              .chat-upload-icon
                i.fas.fa-cloud-upload-alt
              h4 Upload a file to start chatting
              p Drag and drop your file here or click to browse
              button#uploadFileBtn.upload-file-btn
                i.fas.fa-upload
                | Choose File
              .supported-file-types
                span.file-type-badge PDF
                span.file-type-badge DOCX
                span.file-type-badge TXT
                span.file-type-badge JPG/PNG
                span.file-type-badge CSV

        // Bottom Panel – replaces .chat-input-container
        #bottomPanel.bottom-panel
          .bottom-panel-tabs
            button.bottom-tab.bottom-tab-active(type="button" data-tab="chat") CHAT
            button.bottom-tab(type="button" data-tab="error") ERROR
            button.bottom-tab(type="button" data-tab="token") TOKEN USED
            button.bottom-tab(type="button" data-tab="model") MODEL USED
            button.bottom-tab(type="button" data-tab="rag") RAG INFO
            button.bottom-tab(type="button" data-tab="usage") USAGE LIMIT
            button.bottom-tab(type="button" data-tab="subscription") SUBSCRIPTION
            button#closeBottomPanel.bottom-panel-close(type="button" title="Close panel")
              i.fas.fa-times
          .bottom-panel-body
            .bottom-panel-content.bottom-content-active(data-content="chat")
              form.chat-form
                textarea.message-input(placeholder="Type your message..." required)
                .chat-controls
                  button#emoji-picker-btn(type="button")
                    i.fas.fa-face-smile
                  button#send-message-btn(type="submit")
                    i.fas.fa-paper-plane
            .bottom-panel-content(data-content="error")
            .bottom-panel-content(data-content="token")
            .bottom-panel-content(data-content="model")
            .bottom-panel-content(data-content="rag")
            .bottom-panel-content(data-content="usage")
            .bottom-panel-content(data-content="subscription")

      // Right Sidebar – Upload History & Conversation Topics
      aside.chat-sidebar.chat-sidebar-right#rightSidebar
        .chat-logo
          h2
            i.fas.fa-history
            | History
        // Upload History Section
        .upload-history
          .chat-section-header
            h3 Upload History
            button#deleteAllUploadsBtn.chat-action-btn(type="button" title="Delete all uploads") Delete all
          ul.chat-history-list#uploadHistoryList
            li.chat-history-item
              i.fas.fa-file-upload
              div
                .chat-history-name No uploads yet
        
        // Conversation Topics Section
        .conversation-topics
          h3 Conversation Topics
          ul.chat-history-list#conversationTopicsList
            li.chat-history-item
              i.fas.fa-tag
              div
                .chat-history-name No topics yet
